.subheader h1 {
    font-size: 40px;
    margin-bottom: 12px;
}
.subheader span {
    font-size: 20px;
}
.line {
    margin: 15px auto;
}
.partners-line {
    border-top: none !important;
    max-width: none;
}

.m28-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.p28-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.info .strong {
    font-size: 22px;
}
.strong.regular-price {
    font-size: 30px;
}
.info ul.order-content li {
    font-size: 20px;
    padding: 8px 0;
}
.info ul.order-content li:last-child {
    padding-bottom: 0;
}
.form-block-container {
    margin-top: 20px;
}

form {
    padding: 28px 40px;
}

.form h5 {
    text-align: left;
}
.fas.doctor-icon {
    margin-right: 5px;
}
.bottom {
    padding-top: 20px;
}
.bottom p.caution {
    display: inline;
}
.bottom ul li {
    margin: 20px 0;
    padding-left: 30px;
}
.bottom ul li::before {
    left: 0px;
}
.bottom h5 {
    padding-top: 16px;
    margin-top: 36px;
}
.btn-submit.m28-30 {
    margin: 40px 0 !important;
}