.subheader h1 {
    font-size: 40px;
    margin-bottom: 12px;
}

.line {
    margin: 12px auto;
}

.m28-30 {
    margin-top: 28px !important;
    margin-bottom: 28px !important;
}
.p28-30 {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
}

.info .strong {
    font-size: 22px;
}
.strong.regular-price {
    font-size: 28px;
}

.info ul.order-content li {
    font-size: 20px;
    padding: 8px 0;
}

.form-block-container {
    margin-top: 20px;
}

.form h5 {
    text-align: left;
}

.bottom p.caution {
    display: inline;
}
.bottom h5 {
    margin-left: 36px;
}
.bottom ul {
    margin-left: 52px;
}