body {
    font-family:  'Open Sans';
    color: rgb(54, 76, 97);
}

.header img {
    display: block;
    margin: 20px auto;
    height: 55px;
}


h1, h2, h3, h4 {
    text-align: center;
    margin: 0;
}

.subheader {
    background-color: #364C61;
    padding: 20px 0;
}
.subheader span {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #6FD8DE;
}
.subheader .dotted-line {
    border-bottom: 2px dotted rgba(92, 117, 119, 0.979);
    width: 30%;
    margin: 10px auto;
}
.subheader h1 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 38px;
    color: white;
    margin-bottom: 8px;
}
.subheader .off {
    color:white;
    font-weight: 600;
}

.info {
    background-color: white;
    padding: 30px 0 33px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}
.info .strong {
    color:#364C61;;
    font-weight: 700;
    font-size: 1.1em;
}
.info .countdown {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
    width: 300px;
}
.digits {
    padding: 15px 0px 18px 0;
    color: #EB1A3C;
}
.digits .content {
    font-size: 35px;
    font-weight: 500;
    line-height: 40px;
}
.caption {
    font-size: 11px;
    font-weight: 600;
    text-align: center;
}

.double-line {
    border-top: 2px solid rgba(153, 158, 158, 0.15);
    border-bottom: 2px solid rgba(153, 158, 158, 0.15);
    background-color: rgba(92, 117, 119, 0.103);
    height: 2px;
    box-sizing: content-box;
    width: 100%;
    margin: 16px 0;
}

.info ul.order-content {
    list-style: none;
    margin: 0 0 25px 0;
    padding: 20px 30px;
    width: 100%;
    max-width: 400px;
    border-bottom: 3px solid #8A9AA8;
}
.info ul.order-content li {
    padding: 2px 0;
    display: flex;
    font-size: 1.3em;
    justify-content: space-between;
    color: #364C61;
}
.info ul.order-content .free {
    text-transform: uppercase;
    color: #83DDE2;
    font-weight: bold;
}
.info .regular-price {
    font-size: 1.6em;
    font-weight: 600;
    text-decoration: line-through;
}

.form-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 5px 0 rgba(128, 128, 128, 0.164);
}
.form {
    background-color: #FCFCFC;
    padding: 30px;
    flex: 3 1 0;
}
h5 {
    margin: 0;
    margin-bottom: 18px;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}
.form h5 {
    text-align: left;
}
.dash-box {
    padding: 10px;
    background-color: #F9FBE7;
    border: 5px dashed #343434;
}
.dash-box .underline {
    text-decoration: underline;
    font-weight: bold;
    text-transform: capitalize;
}
.dash-box label {
    display: flex;
    background-color: #FFF59D;
    padding: 10px;
    color: #6FBD5F;
    font-weight: bold;
    text-transform: capitalize;
    align-items: center;
    user-select: none;
}
.dash-box label input {
    -webkit-appearance: none;
    appearance: none;
    border: 4px solid #323232; 
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.dash-box label input:checked {
    background-image: linear-gradient(to right, #323232, #323232);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
}

.dash-box p {
    margin: 0;
    font-weight: 500;
    color: rgb(64, 63, 70);
}

.feedback {
    padding: 30px;
    flex: 2 1 0;
    min-width: 250px;
}
.feedback-card {
    margin-bottom: 20px;
}
.feedback-card img.avatar {
    display: block;
    margin: 16px auto;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    border: 1px solid rgba(128, 128, 128, 0.479);
}
.feedback-card p {
    text-align: center;
    margin-bottom: 0;
    font-size: 0.9em;
}
.feedback-card p.name {
    font-weight: bold;
}

.partners {
    margin: 40px auto;
    max-width: 640px;
    width: 100%;
    display: block;
}

.bottom {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.bottom .double-line {
    margin-bottom: 32px;
}
.bottom p {
    margin: 0 24px;
    display: inline;
    padding: 4px;
    font-weight: bold;
    background-color: #FFEE58;
}
.bottom h5 {
    text-align: left;
    margin: 0 24px;
    margin-top: 40px;
}
.bottom h5 img {
    display: inline-block;
    border: 1px red solid;
    width: 24px;
    height: 24px;
}
.bottom ul {
    text-align: left;
    margin: 32px 24px;
    margin-top: 16px;
    padding-left: 20px;
}
.bottom ul li {
    margin: 12px 0;
}
.bottom .btn {
    max-width: 370px;
    height: 64px;
}

.tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCFCFC ;
    border-bottom: 1px solid #DFDFE0;
    padding: 0 35px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    height: 55px;
    border-radius: 5px;
}

.form-row {
    justify-content: space-between;
}

label {
    color: #004360;
    font-size: 16px;
    margin-bottom: 6px;
}
.primary-color {
    color: #3F9BBC;
}
.secondary-color {
    color: #024360;
}

.tab.hidden {
    display: none;
}

.btn-submit {
    margin: 20px 0 40px 0;
    background-color: #2E8DD6;
    color: white;
    width: 100%;
    height: 60px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 2.4em;
}

.btn-submit:hover {
    background-color: #2E8DD6;
    color: white;
}

.btn-submit:active {
    background-color: rgb(37, 113, 172);
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #364C61;
    height: 160px;
}
.footer img {
    width: 230px;
    filter: brightness(0) invert(1);
}
.copyright {
    color: white;
    margin-top: 20px;
    margin-bottom: 4px;
}

.links, .links a {
    color: rgb(48, 141, 207)
}

.certifications {
    display: block;
    width: 80%;
    margin: 30px auto;
}

.tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 87px;
    width: 50%;
    color: #004360;
    background-color: #FCFCFC;
}
.tab:hover {
    color: #004360;
    text-decoration: none;
}
.tab.done {
    background-color: white;
    border-right: 1px solid #DFDFE0;
    border-bottom: 1px solid #DFDFE0;
    border-left: 1px solid #DFDFE0;
    color: #A4A7A7;
}
.tab.done:hover {
    color: #A4A7A7;
    text-decoration: none;
}
.tab img {
    width: 23.66px;
}
.tab .caption {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}

.cc-container img {
    width: 64px;
}
@media (min-width: 450px) {
    .form-block {
        width: 70%;
    }
    ul.order-content {
        padding: 20px 30px;
    }
}
@media (min-width: 768px) {
    .cc-container img {
        width: 88px;
    }
    .cc-container .btn {
        margin-right: 20px;
    }
}
@media (min-width: 1024px) {
    .form-block {
        flex-direction: row;
        width: 55%;
    }
}