body {
    font-family: 'Roboto', sans-serif;
    color: rgb(54, 76, 97);
}

.subheader .dotted-line {
    border-bottom: 2px dotted #637687 !important;
    max-width: 555px;
}
.double-line {
    border-top: 2px solid rgba(153, 158, 158, 0.15) !important;
    border-bottom: 2px solid rgba(153, 158, 158, 0.15) !important;
    height: 2px;
    box-sizing: content-box;
    width: 100%;
    max-width: 555px;
    margin: 16px 0;
}
.m28-30 {
    margin-top: 28px !important;
    margin-bottom: 28px !important;
}
.p28-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.header {
    padding: 18px;
}
.header img {
    display: block;
    margin: 0 auto;
    height: 55px;
}
.container {
    padding-left: 36px;
    padding-right: 36px;
}

h1, h2, h3, h4 {
    text-align: center;
    margin: 0;
}

.subheader {
    background-color: #364C61;
}
.subheader span {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #6FD8DE;
}
.line {
    border-bottom: 2px solid #c9c9c9be;
    width: 100%;
    margin: 18px auto;
}
.subheader h1 {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 37px;
    color: white;
    margin-bottom: 18px;
}
.subheader .off {
    color:white;
    font-weight: 600;
    font-size: 20px;
}

.info {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info .strong {
    color:#364C61;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
.info .countdown {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
    margin-top: 8px;
    width: 100%;
    max-width: 350px;
}
.digits {
    padding: 15px 0px 18px 0;
    color: #EB1A3C;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.digits .content {
    font-size: 35px;
    font-weight: 500;
    line-height: 40px;
}
.caption {
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}
.info ul.order-content {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    margin-bottom: 28px;
    padding: 20px 0;
    width: 100%;
    max-width: 400px;
    border-bottom: 3px solid #8A9AA8;
}
.info ul.order-content li {
    padding: 6px 0;
    display: flex;
    font-size: 17px;
    justify-content: space-between;
    color: #364C61;
}
.info ul.order-content .free {
    text-transform: uppercase;
    color: #6FD8DE;
    font-weight: bold;
}
.info .regular-price {
    font-size: 25px;
    font-weight: 600;
    text-decoration: line-through;
}

.form-block {
    margin: 0 auto;
    box-shadow: 0 0 5px 0 rgba(128, 128, 128, 0.164);
}
.form {
    background-color: #FCFCFC;
    padding: 0;
}
h5 {
    margin: 0;
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
.form h5 {
    text-align: center;
}
.dash-box {
    padding: 10px;
    background-color: #F9FBE7;
    border: 5px dashed #343434;
}
.dash-box .underline {
    text-decoration: underline;
    font-weight: bold;
    text-transform: capitalize;
}
.dash-box label {
    display: flex;
    background-color: #FFF59D;
    padding: 10px;
    color: #6FBD5F;
    font-weight: bold;
    text-transform: capitalize;
    align-items: center;
    user-select: none;
    cursor: pointer;
}
.dash-box label input {
    -webkit-appearance: none;
    appearance: none;
    border: 4px solid #323232; 
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}
.dash-box label input:checked {
    background-image: linear-gradient(to right, #323232, #323232);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
}

.dash-box p {
    margin: 0;
    font-weight: 500;
    color: #364c61;
}

.feedback {
    padding: 28px 36px;
}
.feedback-card {
    margin: 40px 0;
}
.feedback-card img.avatar {
    display: block;
    margin: 16px auto;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}
.feedback-card p {
    text-align: center;
    margin-bottom: 0;
    font-size: 0.9em;
}
.feedback-card p.name {
    font-weight: bold;
}

.partners {
    margin: 28px auto;
    max-width: 800px;
    width: 100%;
    display: block;
}

.bottom {
    margin: 0 auto;
    text-align: center;
}
.bottom .caution {
    display: block;
    padding: 6px;
    font-weight: bold;
    background-color: #FFEE58;
}
.bottom h5 {
    text-align: left;
    margin-top: 40px;
}
.bottom ul {
    text-align: left;
    margin: 0 24px;
    margin-top: 28px;
    padding-left: 0;
}
.bottom ul li {
    margin: 12px 0;
}
.bottom .btn {
    max-width: 370px;
    height: 64px;
}

form {
    padding: 28px 36px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}

.form-control {
    height: 55px;
    border-radius: 5px;
}

.form-row {
    justify-content: space-between;
}

label {
    color: #364C61;
    font-size: 16px;
    margin-bottom: 6px;
}
.primary-color {
    color: #3F9BBC;
}
.secondary-color {
    color: #024360;
}

.tab.hidden {
    display: none;
}

.btn-submit {
    margin: 28px 0;
    background-color: #2E8DD6;
    color: white;
    width: 100%;
    height: 60px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 2.4em;
}

.btn-submit:hover {
    background-color: #2E8DD6;
    color: white;
}

.btn-submit:active {
    background-color: rgb(37, 113, 172);
    color: white;
}

.arrow-icon {
    font-size: 15px;
}
.doctor-icon {
    color: #6fd8de;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #364C61;
    padding: 28px 0;
}
.footer img {
    width: 230px;
    margin-bottom: 28px;
}
.copyright {
    color: white;
}

.links, .links a {
    color: rgb(48, 141, 207)
}

.certifications {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 28px;
    mix-blend-mode: darken;
}
.tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 87px;
    width: 50%;
    color: #004360;
    background-color: #FCFCFC;
}
.tab:hover {
    color: #004360;
    text-decoration: none;
}
.tab.done {
    background-color: white;
    border-right: 1px solid #DFDFE0;
    border-bottom: 1px solid #DFDFE0;
    border-left: 1px solid #DFDFE0;
    color: #A4A7A7;
}
.tab.done:hover {
    color: #A4A7A7;
    text-decoration: none;
}
.tab img {
    width: 23.66px;
}
.tab .caption {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}

.cc-container img {
    max-width: 64px;
    width: 100%;
}
@media (min-width: 450px) {
    ul.order-content {
        padding: 20px 30px;
    }
}
@media (min-width: 768px) {
    .cc-container img {
        max-width: 88px;
    }
    .cc-container .btn {
        margin-right: 20px;
    }
}