body {
    font-family:  'Open Sans';
}

.header img {
    display: block;
    margin: 25px auto;
    height: 38px;
}

.info {
    background-color: #F2FAFD;
    padding: 30px 0 33px 0;
    border: 1px solid #E5F4F9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4 {
    text-align: center;
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
}

.free-container {
    margin: 25px 0;
    width: fit-content;
    border-top: 0.5px solid #7EC4CE;
    border-bottom: 0.5px solid #7EC4CE;
    padding: 16.8px 0 16.8px 0;
}

h2 {
    font-size: 25px;
    display: inline
}

.certificate {
    height: 170px;
    display: block;
}

h3 {
    font-weight: 900;
    font-size: 20px;
    margin-top: 33px;
}

.include-list {
    list-style: none;
    padding: 0;
    font-size: 18px;
    margin: 25px 0;
}

.include-list li {
    display: flex;
}

.include-list li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 18px;
    align-self: center;
    background-size: 20px;
    background-image: url('/imgs/icon_check.png');
}

h4 {
    font-size: 26px;
}

h4 .cents {
    font-size: 21px;
}

.line-through {
    position: relative;
    margin-right: 10px;
}

.line-through::before {
    content: '';
    border-bottom: 3px solid #ed1c24;
    width: 100px;
    position: absolute;
    right:-5px;
    top: 50%;
}

.countdown {
    background-color: #004360;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 85px;
}

.digits {
    padding: 15px 0px 18px 0;
    color: white;
}

.digits .content {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}

.caption {
    font-size: 8px;
    text-align: center;
}

h5 {
    text-align: center;
    margin: 36px 0;
    font-weight: bold;
    font-size: 16px;
}

.tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCFCFC ;
    border-bottom: 1px solid #DFDFE0;
    padding: 0 35px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    /* width: 304px; */
    height: 55px;
    border-radius: 5px;
}

.form-row {
    justify-content: space-between;
}

label {
    color: #004360;
    font-size: 16px;
    margin-bottom: 18px;
}
.primary-color {
    color: #3F9BBC;
}
.secondary-color {
    color: #024360;
}
.col {
    padding: 0 15px !important;
}
.tab.hidden {
    display: none;
}

.btn-submit {
    margin: 20px 0 40px 0;
    background-color: #4394B0;
    color: white;
    width: 100%;
    height: 60px;
    text-transform: uppercase;
}

.btn-submit:hover {
    background-color: #4394B0;
    color: white;
}

.btn-submit:active {
    background-color: #004360 !important;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
}

.certifications {
    width: 270px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 87px;
    width: 50%;
    color: #004360;
    background-color: #FCFCFC;
}
.tab:hover {
    color: #004360;
    text-decoration: none;
}
.tab.done {
    background-color: white;
    border-right: 1px solid #DFDFE0;
    border-bottom: 1px solid #DFDFE0;
    color: #A4A7A7;
}
.tab.done:hover {
    color: #A4A7A7;
    text-decoration: none;
}
.tab img {
    width: 23.66px;
}
.tab .caption {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}

.cc-container img {
    width: 64px;
}

@media (min-width: 768px) {
    .cc-container img {
        width: 88px;
    }
    .cc-container .btn {
        margin-right: 20px;
    }
}